doctype html
head
  title Welcome To MessageBuzz 
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900' rel='stylesheet')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel="icon" type="image/png" href="img/users/logo/logo.png")
  link(rel='stylesheet' href='css/hompageStyle.css')

body 
 .navBar
  .left
    img(src='img/users/logo/logo.png')
    h2 MessageBuzz
  ul.navBar-list
    
    li.navbar-item
      a(href='/') Home
    li.navbar-item
      a(href='https://www.instagram.com/naresh.thapa.97/' target="blank") Contact
    li.navbar-item
      a(href='https://www.linkedin.com/in/naresh-thapa-46536b248/' target="blank") Linkdin
    li.navbar-item
      a(href='https://github.com/Naresh9779' target="blank") Github
  .right.login-btn 
    -if(user)
      a(href="/setting") #{user.name}
    -else
      a.login-btn(href='/login') Login
 .main#container
    .left-side 
      span#primary-heading Talk to strangers,Make friends!
      p#secondary-heading linesbanner imge Talk to strangers,Make friends!Experience a random chat alternative to find friends, connect with people, and chat with strangers from all over the world!
      -if(user)
        a.chat-btn(href="/dashboard") Chat Now 🗨️
      -else
       a.chat-btn(href="/signup") Register Now
     
    .right_side
       img#chat-photo(src="/img/users/logo/Chat-unscreen.gif")



  
